@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --whitecolor: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--slate300);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--whitecolor);
    font-family: "Outfit", sans-serif;
    text-align: center;
    width: 318px;
    padding: 18px;
    box-sizing: border-box;
    border-radius: 15px;
}

.card {
    img {
        width: 100%;
        border-radius: 10px;
    }
    
    h2 {
        color: var(--slate900);
        font-weight: 700;
        margin: 20px 5px;
    }
    
    p {
        color: var(--slate500);
        font-size: 15px;
        font-weight: 400;
        margin: 20px 26px;
    }
}

.attribution {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width:1600px) and (max-width:2560px) {
    .card {
        width: 368px;
    }
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .card {
        h2 {
            margin: 20px 5px;
        }
        
        p {
            margin: 20px 10px;
        }
    }
}

@media screen and (max-width:600px) {
    .card {
        h2 {
            margin: 20px 5px;
        }
        
        p {
            margin: 20px 5px;
        }
    }
}

@media screen and (max-width:320px) {
    .card {
        width: 280px;
    }
}

