/* font family : Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

.outer-box {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.portfolio-box {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 12%);
    width: 240px;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

/* about section  */
.about {
    /* profile image  */
    > .about-image {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin-top: 0px;
    }

    /* info card  */
    > .info {
        margin: 1.3rem 0rem;

        > .about-name {
            font-weight: 500;
            font-size: 1.3rem;
        }

        > .about-address {
            margin-top: 0.5rem;
            font-size: 0.7rem;
            color: hsl(75, 94%, 57%);
        }
    }

    > .about-role {
        margin-top: 0.5rem;
        font-size: 0.7rem;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.700);
    }
}

/* socials cards section  */
.socials {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 0.8rem;
    padding-top: 0.5rem;

    /* links for social media  */
    > .social-link {
        background-color: hsl(0, 0%, 20%);
        color: hsl(0, 0%, 100%);
        text-decoration: none;
        padding: 0.7rem;
        margin-top: 0.7rem;
        border-radius: 7px;
    }
}

/* author  */
.author > p {
    text-align: center;
    font-size: 0.8rem;
    color: hsla(0, 0%, 100%, 0.700);
    padding-top: 1rem;
    > a {
        text-decoration: none;
    }
}

/* mouse on hover event */
.social-link:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
