@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --light-grey-color: #f0f0f0;
    --nav-padding: 12px 24px;
    --home-padding: 40px 24px;
    --inside-padding: 0 0 40px;
    --left-right-gap: 36px;
    --h1-size: 36px;
    --h1-margin-bottom: 40px;
    --h2-size: 27px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
}

body {
    background-color: var(--white-color);
    position: relative;
}


/* Default Element Styles */
button, a {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--black-color);
}

body .uber {
    font-size: 20px; 
    font-weight: 400;
}

.header-nav .vanish, .home .vanish, .download .vanish { display: none; }

.oval-btn {
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    width: fit-content;
    background: var(--white-color);
    color: var(--black-color);
    padding: 9px 10px;
    border-radius: 99px;
    box-sizing: border-box;
}

.oval-btn-big {
    height: 36px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    img { height: 14px; }
    
    .arrow { height: 8px; }
}

.btn {
    height: fit-content;
    width: fit-content;
    color: white;
    background-color: black;
    padding: 14px 23px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
}

.btn-text {
    width: fit-content;
    font-size: 15px;
    padding-bottom: 4px;
    font-weight: 300;
    border-bottom: 1px solid #00000082;
}

.image { width: 100%; }


h1 {
    font-size: var(--h1-size);
    font-weight: 600;
    margin-bottom: var(--h1-margin-bottom);
    letter-spacing: -2px;
}

h2 {
    font-size: var(--h2-size);
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: -1px;
}

.get-started {
    display: flex;
    gap: 15px;
    align-items: center;
}


/* Header - Navbar - Stciky one */
header {
    width: 100%;
    background-color: var(--black-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    height: 2.5rem;
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav-right {
        display: flex;
        gap: 1rem;
        
        .oval-btn { color: var(--black-color); }
    }
}

.header-nav * {
    color: var(--white-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

/* Arrow up fucntion - Home Button */
.up-arrow {
    padding: 16px 14px 8px;
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    transform: rotate(-90deg);
    box-shadow: 0px 0px 5px black;
    
    img {
        height: 20px; 
        width: 20px;
    }
}


/* Home Section - Ride / Suggestions / PFL */
.home { padding: var(--home-padding); }


/* Ride - Container */
.ride {
    padding: var(--inside-padding);
    display: grid;
    gap: var(--left-right-gap);
}

.ride-left {
    .ride-content {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    
    .get-started {
        flex-direction: column;
        align-items: flex-start;
    }
}

.pickup, .dropoff {
    width: 100%;
    position: relative;
    
    :first-child {
        position: absolute;
        left: 15px;
        top: 19.5px;
    }
    
    input {
        height: 55px;
        width: 100%;
        border: none;
        border-radius: 6px;
        background-color: var(--light-grey-color);
        padding: 1rem 0 0 3rem;
        box-sizing: border-box;
    }
    
    label {
        font-weight: 300;
        color: #5e5e5e;
        position: absolute;
        top: 17.5px;
        left: 3rem;
    }
    
    .arrow {
        position: absolute;
        top: 15.5px;
        right: 15px;
        width: 24px;
    }
    
    .line {
        height: 65px;
        width: 1px;
        background: black;
        position: absolute;
        top: -40px;
        left: 22.5px;
    }
}

.ride-right {
    position: relative;
    
    img { border-radius: 5px; }
    
    .suitcase {
        display: flex;
        justify-content: center;
    }
    
    .schedule {
        height: 68px;
        width: 90.5%;
        background-color: #ffffff33;
        backdrop-filter: blur(32px);
        padding: 1rem 0.8rem;
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 20px;
        
        .oval-btn-big { white-space: nowrap; }
        
        span, a { font-size: 14px; }
        
        span { color: var(--white-color); }
    }
}


/* Suggestions Container */
.suggestions {
    padding: var(--inside-padding);
    
    .suggestions-list {
        display: grid;
        /* grid-template-rows: repeat(3, 170px); */
        gap: 1rem;
    }
}

.suggestion {
    height: 164px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 128px;
    
    .suggestion-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    h3 {
        font-size: 16px;
        font-weight: 500;
    }
    
    p {
        height: 56px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.2rem;
        overflow: hidden;
    }
}


/* Log - In Container */
.log-in {
    padding: var(--inside-padding);
    display: grid;
    gap: var(--left-right-gap);
    
    p { margin-bottom: 25px; }
}


/* Plan For Later Container */
.pfl {
    padding: var(--inside-padding);
    
    .pfl-content {
        display: grid;
        gap: var(--left-right-gap);
    }
}

.pfl-left {
    height: 350px;
    padding: 24px;
    box-sizing: border-box;
    background-color: #9dcdd6;
    border-radius: 12px;
    
    .pfl-left-content {
        height: 100%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    h3 {
        font-size: 28px;
        font-weight: 600;
        margin-top: 25px;
    }
    
    p { font-size: 18px; }
    
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    
    .form-item {
        display: flex;
        flex-direction: column;
    }
    
    label {
        font-size: 14px;
        color: #5e5e5e;
    }
    
    input {
        padding: 0.8rem;
        color: #5e5e5e;
        border: none;
        border-radius: 5px;
    }
    
    .btn { width: 100%; }
}

.pfl-right {
    padding: 0.8rem;
    border: 1px solid #0000000a;
    border-radius: 12px;
    box-sizing: border-box;
    display: grid;
    gap: 1.3rem;
    
    h3 {
        font-size: 20px;
        font-weight: 600;
    }
    
    p { font-weight: 300; }
    
    .benefit {
        padding: 1.4rem;
        display: flex;
        gap: 20px;
    }
    
    img { width: 20px; }
    
    a {
        padding-bottom: 0px;
        border-bottom: 1px dotted #00000082;
    }
}


/* Plan Containers - Styling */
.plan {
    padding: var(--inside-padding);
    display: grid;
    gap: var(--left-right-gap);
    
    p {
        font-weight: 300;
        margin-bottom: 25px;
    }
}

.plan-1 .oval-btn-big {
    height: 48px;
    width: 150px;
    background-color: var(--black-color);
    color: var(--white-color);
}

.plan-2 .get-started {
    flex-direction: column;
    align-items: flex-start;
}

.plan-5 { padding: 0; }


/* Download Container */
.download {
    padding: var(--home-padding);
    background-color: #f6f6f6;
    
    .download-content {
        display: grid;
        gap: var(--left-right-gap);
    }
    
    .box {
        background-color: var(--white-color);
        padding: 1rem;
        border: 1px solid #0000001a;
        display: grid;
        grid-template-columns: 84px auto 32px;
        align-items: center;
        gap: 15px;
    }
    
    h3 {
        font-size: 24px;
        font-weight: 600;
    }
}


/* Footer Container */
footer {
    padding: var(--home-padding);
    background-color: var(--black-color);
    display: grid;
    gap: 60px;
    
    * { color: var(--white-color); }
    
    h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    .grid-1, .grid-2, .grid-3 {
        display: grid;
        gap: 60px;
    }
    
    .flex {
        display: flex;
        flex-direction: column;
        gap: 17px;
        
        p { font-size: 14px; }
    }
    
    .grid2-left {
        display: flex;
        gap: 30px;
    }
    
    .grid-2 img { width: 16px; }
    
    .grid2-right {
        display: grid;
        gap: 20px;
        
        a {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    
    .install {
        display: flex;
        gap: 10px;
        img { height: 42px; }
    }
    
    .grid-3 * {
        font-size: 12px;
        color: #afafaf; 
    }
    
    .terms {
        display: flex;
        gap: 40px;  
    }
    
    /* Author */
    .attribution {
        margin-top: 10px;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        
        a { color: #448ef4; }
    }
}