/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

* {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

/* font family & styling  */
.outfit {
    font-family: "Outfit", serif;
}

.young-serif {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

p, li, .text {
    font-size: 0.9rem;
}

/* space allignment  */
ol, ul {
    padding: 1rem 1rem 1rem 1.5rem;
}

.recipe-box > div, table, p {
    padding-top: 1rem;
}

/* text & list color  */
li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    color: hsl(30, 10%, 34%);
}

.brown, li::marker   {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

h4, .rose > li::marker {
    color: hsl(332, 51%, 32%);
}

p,.text {
    color: hsl(30, 10%, 34%);
}

/* outer box div  */
.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}

/* Recipe Box div  */
.recipe-box {
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    margin: 5rem 0rem;
    padding: 2rem;
    border-radius: 15px;
}

/* image  */
.omelette-image {
    width: 100%;
    border-radius: 10px;
}

/* recipe heading  */
h1 {
        text-align: left;
    }

/* preparation time section  */
.preparation {
    margin-top: 1rem;
    padding: 1rem 1rem 0rem 1rem;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

/* Nutrition section  */
.nutrition > p {
    padding-bottom: 1rem;
}

table {
    width: 100%;
    padding-top: 1rem;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

td {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

/* author  */
.author > p {
    text-align: center;
    font-size: 0.8rem;
    > a {
        text-decoration: none;
    }
}

/* Responisve web design  */
@media (min-width:566px) and (max-width:942px) {
    .recipe-box {
        margin: 3rem 0rem;
        width: 500px;
    }

    p, li, .text {
        font-size: 1rem;
    }
}

@media (max-width:566px) {
    .recipe-box {
        width: 100%;
        margin: 0rem;
        border-radius: 0px;
    }

    p, li, .text {
        font-size: 1rem;
    }
}
