.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img { width: 80%; }

.coder {
  padding-top: 20px;
  color: #EEEEEE;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  
  h1 { font-size: 2rem; }
  
  p { font-size: 1rem; }
  
  img { width: 40%; }
}