@media screen and (max-width:424px) {
    .get-started {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .suggestion { 
        grid-template-columns: auto 100px;
        align-items: center;
    } 
    
    .pfl .content .left {
        > * { margin-top: 14px; }
        
        form { 
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }
    
    .download .box {
        grid-template-columns: 84px auto 20px;
        gap: 6px;
    }
}