@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --Navy-950: hsl(233, 47%, 7%);
    --Blue-950: hsl(244, 37%, 16%);
    --Purple-500: hsl(277, 64%, 61%);
    --White-main-head: hsl(0, 0%, 100%);
    --White-para: hsla(0, 0%, 100%, 0.40);
    --White-headings: hsla(0, 0%, 100%, 0.85);
}

body {
    height: 100%;
    min-height: 100vh;
    background-color: var(--Navy-950);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    background-color: var(--Blue-950);
    border-radius: 10px;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
    
    .left {
        height: 250px;
        position: relative;
        background: linear-gradient(hsl(277, 64%, 61%), hsl(277, 64%, 61%)), url("./assets/images/image-header-mobile.jpg");
        background-size: cover;
        background-blend-mode: multiply;
        border-radius: 10px 10px 0 0;
    }
    
    .right {
        padding: 2.1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
}

.right {
    h1.title {
        font-family: "Lexend Deca", sans-serif;
        font-size: 28px;
        font-weight: 700;
        color: var(--White-main-head);
    }
    
    span { color: var(--Purple-500); }
    
    p.brief {
        font-size: 15px;
        color: var(--White-para);
        font-weight: 400;
    }
    
    .insights{
        display: grid;
        gap: 30px;
    }
}

.insight {
    h2 {
        font-size: 25px;
        font-weight: 700;
        color: var(--White-headings);
        margin-bottom: 8px;
    }
    
    p {
        font-size: 15px;
        color: var(--White-para);
        text-transform: uppercase;
    }
}

.coder {
    color: var(--White-headings);
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

@media screen and (min-width:500px) {
    .card { width: 80%; }
    
    .card .left { height: 300px; }
}

@media screen and (min-width:600px) {
    .card .left { height: 350px; }
    
    .card .right { padding: 3rem; }
}

@media screen and (min-width:800px) {
    .card { width: 70%; }
    
    .card .left { height: 400px; }
    
    .card .right { padding: 4rem; }
}

@media screen and (min-width:1000px) {
    .card {
        margin: 0;
        width: 1000px;
        height: 440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .card .left {
        height: 100%;
        order: 2;
        border-radius: 0 10px 10px 0;
        background: linear-gradient(hsl(277, 64%, 61%), hsl(277, 64%, 61%)), url("./assets/images/image-header-desktop.jpg");
    }
    
    .card .right {
        text-align: left;
        padding: 4rem;
        display: grid;
    }
    
    .right {
        h1.title {
            font-family: "Lexend Deca", sans-serif;
            font-size: 32px;
        }
        
        .insights{
            display: flex;
            justify-content: space-between;
            margin-right: 30px;
        }
    }
}

@media screen and (min-width:1440px) {
    .card { width: 1100px; }
    
    .card .right { margin-right: 45px; }
    
    .right h1.title { font-size: 35px; }
}