@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    padding: 20px;
    background-color: var(--white);
    border: 2px solid var(--Gray-500);
    border-radius: 15px;
    box-shadow: 7px 7px;
}

.card > :not(:first-child) {
    margin-top: 15px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card .button {
    font-size: 13px;
    font-weight: 800;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--Gray-950);
    background-color: var(--yellow);
}

.card .date {
    font-size: 13px;
    font-weight: 500;
    color: var(--Gray-950);
}

.card h2 {
    font-size: 22px;
    font-weight: 800;
    color: var(--Gray-950);
}

.card h2:hover {
    color: var(--yellow);
    cursor: pointer;
}

.card .info {
    font-size: 15px;
    color: var(--Gray-500);
}

.profile {
    display: flex;
    gap: 10px;
    align-items: center;
    
    img {
        width: 25px;
        border-radius: 50%;
    }
    
    p {
        font-size: 14px;
        font-weight: 800;
        color: var(--Gray-950);
    }
}

.attribution {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width:375px) {
    .card {
        width: 87vw;
        
        .date {
            font-size: 10px;
        }
        
        h2 {
            font-size: 17px;
            font-weight: 800;
        }
        
        .info {
            font-size: 12px;
        }
    }
    
    .profile p {
        font-size: 12px;
    }
}