* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 704px;
    background-color: rgb(209, 184, 184);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.text {
    font-family: "Epunda Slab", serif;
    text-align: justify;
}

/* header & footer  */
header, footer {
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 50px;
    font-size: 1rem;
    background-color: burlywood;
}
/* about section  - Box 1 */
.box1 {
    margin: 1rem;
    background-color: #f5f5f5b4;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about {
    padding: 1rem;
}

.about img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.about h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Achievements section - Box 2 */
.box2 {
    margin: 1rem;
    background-color: #f5f5f5b4;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.achievements {
    padding: 1rem;
}

.list {
    margin-top: 1rem;
    margin-left: 2rem;
}

/* text weight */
p, li {
    font-weight: 400;
}

/* Responsive design  */
@media (max-width: 700px) {
    .container {
        width: 100%;
        background-color: rgb(209, 184, 184);
    }

    .about img {
        height: 100px;
        width: 100px;
    }
}