@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white-color: #ffffff;
    --red-color: #e50914;
    --border-radius: 4px;
    --default-padding: 9rem;
    --input-border-color: #e2e2e26a;
}

* {
    margin: 0;
    padding: 0;
    color: var(--white-color);
}

body {
    background-color: rgba(0, 0, 0, 0.99);
    font-family: "Inter", Helvetica, sans-serif;
}

/* Home - 1st Container */
.home {
    height: 100vh;
    width: 100%;
    color: var(--white-color);
}

/* Background image & style */
.background {
    height: 100vh;
    width: 100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/e49aba81-ee7c-4f19-baef-7c54bbab003e/web/IN-en-20260202-TRIFECTA-perspective_04f5de39-b518-493c-9a8d-6aef11af0457_large.jpg");
    background-size: cover;
    opacity: 25%;
    position: absolute;
    z-index: -2;
}

/* Navbar - Header Items */
.home-nav {
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-padding);
    position: relative;
    z-index: 2;
    
    .nav-left {
        .logo {
            height: 2.5rem;
        }
    }
}

.dropdown {
    background: url(./Assets/icons/language-icon.svg) no-repeat 10px center;
    font-size: 0.9rem;
    padding: 5px 16px 5px 30px;
    font-weight: 600;
    background-color: #161616b3;
    border-radius: var(--border-radius);
    border: 1px solid var(--input-border-color);

    option {
        background-color: white;
        color: black;
        font-weight: 600;
    }
}

.btn {
    font-size: 0.9rem;
    padding: 7px 16px;
    margin-left: 10px;
    font-weight: 600;
    background-color: var(--red-color);
    border-radius: var(--border-radius);
    border: none;
    transition: all 300ms ease-in-out;
    
    .gt {
        padding-left: 10px;
    }
}

/*Navbar Mouse Events */
.dropwdown {
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    background-color: #c50913;
}

/* Home-Center Subscribe content */
.home-center {
    height: 100%;
    margin-top: -5.6rem;
    padding: 0 var(--default-padding);
}

.center {
    text-align: center;
    height: 100%;
    max-width: 55%;
    padding-top: 10rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;       
}

.home-center {
    .center > :nth-child(1) {
        font-size: 3.5rem;
        font-weight: 900;
    }
    
    .center > :nth-child(2) {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

/* Subscribe Elements */
.subscribe-para {
    font-size: 1rem;
    font-weight: 500;
}

.subscribe-box {
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 220px;
    position: relative;
}

#email {
    font-weight: 500;
    font-size: 1rem;
    padding: 1.5rem 0 0.5rem 1rem;
    background-color: #161616b3;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
}

.subscribe-box label {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-weight: 400;
    color: #c4c4c4;
    transition: all 200ms ease;
    pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0.6rem;
    left: 1.6rem;
    font-size: 0.75rem;
}

.btn-big {
    font-size: 1.5rem;
    padding: 0.85rem 0px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Whole Content after Home */
.content {
    padding: 2rem var(--default-padding) 5rem;
    border-top: 3px solid pink;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

/* Trending Now Section */
.trendings {
    .trendings-list {
        display: flex;
        align-items: center;
        gap: 10px;
        
        .trending-arrow {
            background-color: #ffffff1a;
            width: 1.5rem;
            height: 7.5rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
        }
        
        .arrow-left {
            transform: rotate(180deg);
        }
    }
    
    .trendings-list > ol {
        display: flex;
        padding: 0.5rem 1.3rem;
        list-style: none;
        overflow: auto;
        gap: 2rem;
    }
    
    .trending {
        border-radius: 8px;
        width: 180px;
    }
    
    li {
        position: relative;
        transition: all 300ms ease-in-out;
    }
    
    .number {
        font-size: 6rem;
        font-weight: 900;
        color: black;
        position: absolute;
        bottom: 0;
        left: -16px;
        -webkit-text-stroke: 2px white;
    }
}

.trendings-list .trending-arrow:hover {
    cursor: pointer;
    background-color: #424141;
}

.side-head {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.trendings-list li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Reasons Section */
.reasons-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.reason {
    height: 250px;
    padding: 1.5rem 1rem;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 14px;
    position: relative;
    
    > :nth-child(1) {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    > :nth-child(2) {
        color: #ffffffb3;
    }
    
    > :nth-child(3) {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

/* FAQ section */
.faqs-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq {
    font-size: 1.5rem;
    padding: 1.7rem;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease-in-out;
}

.faq-main:hover {
    cursor: pointer;
    background-color: #484848;
}

/* Hidden - FAQ styling and Radio buttton logic */
.faq-hidden {
    margin-top: 1px;
    display: none;
}

.faq-img {
    transform: rotate(0deg);
    transition: all 300ms ease;
}

input[type="radio"] {
    display: none;
}

#tab1:checked ~ .content-1 { display: block; }
#tab1:checked + label img { transform: rotate(-45deg); }
#tab2:checked ~ .content-2 { display: block; }
#tab2:checked + label img { transform: rotate(-45deg); }
#tab3:checked ~ .content-3 { display: block; }
#tab3:checked + label img { transform: rotate(-45deg); }
#tab4:checked ~ .content-4 { display: block; }
#tab4:checked + label img { transform: rotate(-45deg); }
#tab5:checked ~ .content-5 { display: block; }
#tab5:checked + label img { transform: rotate(-45deg); }
#tab6:checked ~ .content-6 { display: block; }
#tab6:checked + label img { transform: rotate(-45deg); }

/* Subscribe Now section - End */
.center-2 {
    padding-top: 0;
    
    .subscribe-box {
        width: 150%;
    }
}

/* Footer - Section */
.footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    .one, .one *, .two *, .four {
        color: #ffffffb3;
    }
    
    .five {
        color: #ffffff80;
        
        a{
            color: #448ef4;
        }
    }
}

.two > ul {
    font-size: 14px;
    display: grid;
    grid-template: repeat(4,1fr) / repeat(4,1fr);
    row-gap: 20px;
    
    li {
        list-style: none;
    }
}

.four {
    font-size: 14px;
}

.five {
    font-size: 13px;
}

/* Author */
.attribution {
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    
    a {
        color: #448ef4;
    }
}