* {
    font-family: "Epunda Slab", serif;
    margin: 0px;
    padding: 0px;
}

/* Outer div box  - full width*/
.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inner div box - 410px width */
.inner-box {
    margin: 10px;
    border: 5px double rgba(0, 0, 0, 0.438);
    padding: 20px;
    width: 410px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner-box > .center {
    text-align: center;
}

/* Form and its elements  */
form  > * {
    padding-bottom: 15px;
}

form > div > .main-text {
    font-weight: 600;
}

form #name, #email, #age, #text-area {
    width: 98%;
    padding: 3px;
    resize: none;
}

#options, #submit {
    width: 100%;
    padding: 3px;
}

/* submit button  */
.submit > input {
    background-color: rgb(112, 235, 112);
}